{% extends 'base.html' %}
{% block menu %}
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'create_url' %}">Создать</a>
      </li>
{% endblock %}

{% block content %}
    <div class="container">
    {% for i in object_list %}
        <div class="row no-gutters mb-3 card-1">
            <div class="col-md-4">
                <a href="{% url 'details_url' i.pk %}"><img src="{{ i.photo.url }}" class="card-img" alt="{{ i.sign }}"></a>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ i.sign }}</h5>
                    <p class="card-text">Author: {{ i.author }}</p>
                    <p class="card-text">
                        <small class="text-muted">{{ i.date_create }}</small>
                    </p>
                    <p class="card-text">
                        <small class="text-muted">likes: {{ i.likes }}</small>
                    </p>
                    <div>
                        <a href="{% url 'change_url' i.pk %}" class="btn btn-warning">Изменить</a>
                    </div>
                    <div>
                        <a href="{% url 'delete_url' i.pk %}" class="btn btn-danger">Удалить</a>
                    </div>
                </div>
            </div>
        </div>


    {% endfor %}
</div>
{% endblock %}